.sessao0{
    display: inline-block;
}

.sobre{
    padding: 40px 40px 0px 40px;
}

.sessao0 .titulo{
    color: black;
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
    font-family:serif;
}

.sessao0 p{
    margin: 0 0 1em;
    text-align: center;
    font-size: 16px;
}

.principal strong{
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.banner{
    width: 100%;
    height: auto;
}

.sessao1{
    background: linear-gradient(white, gray);
}

.sessao1 .titulo{
    color: black;
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
    font-family:serif
}

.mapa{
    text-align: center;
    padding: 3em 0;
    margin: 0 10%;

}

.mapa p{
    margin: 0 0 2em;
}

.sessao2{
    margin: 40px;
    padding: 40px;
}

.sessao3{
    margin: 40px;
    padding: 40px;
}

.sessao4{
    margin: 40px;
    padding: 40px;
}


.imagemcabecote{
    float: left;
    width: 500px;
    height: 350px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.imagemvirabrequin{
    float: right;
    width: 500px;
    height: 350px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.imagemmotor{
    float: left;
    width: 500px;
    height: 350px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}